* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  max-width: 1200px;
  height: 800px;
  border: 4px solid black;
  background: #0C325A;
}

header {
  width: 1200px;
  height: 500px;
  border: 2px solid red;
  /* background: #444; */
}

.nav-left {
  width: 60%;
  height: 60px;
  border: 4px solid green;
}

.header-content {
  width: 1000px;
  height: 300px;
  border: 4px solid white;

}

li {
  display: inline-block;
  line-height: 60px;
}


/* utility */
.centering {
  margin: 0 auto;
}

 .relative {
  position: relative
 }

.translate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.translate0 {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -0%);
}

.fl {
  float: left;
}

.deco {
  text-decoration: none;
  color: white;
  font-size: 10px;
}

.uppercase {
  text-transform: uppercase;
}
/* /utility */
