* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 1200px;
  /* height: 800px; */
  background: #0C325A;
  /* border: 4px solid black; */
}

header {
  width: 1200px;
  height: 500px;
  /* border: 4px solid black; */
}

.bkgrd-container {
  height: 500px;
  /* border: 2px solid red; */
}

.bkgrd {
  width: 70%;
  height: 70%;
  background-image: url(../img/head-img.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 150px;
}

.header-content {
  width: 1000px;
  height: 300px;
  /* border: solid white; */
}

.nav-left {
  width: 600px;
  height: 60px;
  margin-top: 10px;
  /* border: 4px solid green; */
}
.logo {
  margin-right: 20px;
  margin-top: 10px;
}

.nav-right {
  width: 400px;
  height: 60px;
  margin-top: 10px;
  /* border: 4px solid lightgreen; */
}

.nav {
  padding: 10px;
}

li {
  display: inline-block;
  line-height: 60px;
  margin-left: 10px;
}

.slogan {
  font-size: 20px;
  margin-top: 100px;
  padding: 10px;
}

.slogan-button {
  color: white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  padding: 20px;
}

.slogan2 {
  width: 1200px;
  height: 100px;
  background-color: #D3D3D3;
}

span {
  text-align: center;
  display: block;
}

span:first-child {
  padding-top: 20px;
  font-weight: bolder;
  font-size: 25px;
}

span:nth-child(2) {
  padding-top: 10px;
  color: grey;
}



/* utility */

.inline-block{
  display: inline-block;
}

.centering {
  margin: 0 auto;
}

 .relative {
  position: relative
 }

.translate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.translate0 {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -0%);
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.deco-nav {
  text-decoration: none;
  font-size: 10px;
}

.white {
  color: white;
}

.uppercase {
  text-transform: uppercase;
}

.clear {
  content: "";
  display: table;
  clear: both;
}

.button {
  color: white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
}

.green {
  background-color: #7CBB02;
}

.btn-style {
  border: 1px solid white;
  padding: 10px 25px;
}

/* /utility */
